// 1. Import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";

// Add a serif family
$family-sans-serif: 'db_heaventcond', sans-serif;

// 2. Set your own initial variables
$white: #fff;
$black: #455a64;
$red: #f44336;
$orange: #ff9800;
$yellow: #ffeb3b;
$green: #8bc34a;
$blue: #3f51b5;
$teal: #009688;
$pink: #e91e63;
$purple: #673ab7;

$black-bis: #455a64;
$black-ter: #455a64;

$grey-darker: #263238;
$grey-dark: #37474f;
$grey: #455a64;
$grey-light: #b0bec5;
$grey-lighter: #eceff1;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

// 4. Import the rest of Bulma
@import "node_modules/bulma/bulma";

// Custom Fonts
// @import url('https://fonts.googleapis.com/css?family=Kanit');
@import "font.css";

body {
    color: #ffffff;
    background-color: #D91F26;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.soon-title {
    margin: 0 0 50px;
}

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 15rem 1.5rem;
}

.hero-body {
    flex-grow: 0;
    flex-shrink: 0;
}